<app-contact-search (updateList)="updateList($event)"></app-contact-search>

<div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter at Frontend ...">
    </mat-form-field>
  </div>

<div class="crud-button">
  <button mat-raised-button color="primary" (click)="openModal()">New Contact</button>
</div>

<div>
  <!--<table mat-table [dataSource]="contacts$ | async" class="mat-elevation-z8">-->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let contact"> {{contact.name}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let contact"> {{contact.phone}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let contact"> {{contact.email}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef> Birthday </th>
      <td mat-cell *matCellDef="let contact"> {{contact.birthday | date:'MM/dd/yyyy'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="redirect(row)"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 50]">
  </mat-paginator>
</div>